#banner {
  width: 1000px;
}

.carousel-caption {
  background-color: rgba(13, 13, 14, 0.301);
  color: black;
}

#answer{
  visibility: hidden;
  position: absolute;
  top:0;
  user-select: none;
}

body{
  background-color: black;
}